<!--
=========================================================
* Soft UI Design System - v1.0.9
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="apple-touch-icon" sizes="76x76" href="/images/event_master_logo.png"/>
    <link rel="icon" type="image/png" href="/images/event_master_logo.png" />

    <title>{% block title%} {% endblock %} | Event Master</title>

    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />

    <!-- Nucleo Icons -->
    <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
     
    <script
      src="/static/assets/js/fontawesome.js"
      crossorigin="anonymous"
    ></script>

    <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="/static/assets/css/sweetalert2.min.css" rel="stylesheet">

    <!-- CSS Files -->
     
    <link
      id="pagestyle"
      href="/static/assets/css/soft-design-system.css?v=1.0.9"
      rel="stylesheet"
    />
   
    

    
    
  <link id="pagestyle" href="/static/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
  
  <script src="/static/assets/js/hyperscript.js"></script>

  <script src="/static/assets/js/htmx.js"></script>
  <script src="/static/assets/js/ws.js"></script>
  <link rel="stylesheet" href="/static/assets/css/splide.min.css">
  
  
    {% block stylesheet %}

    {% endblock %}



  </head>



  <body class="index-page">
    <!-- Navbar -->
    <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">

          
          {% include 'includes/nav.html' %}
          <!-- End Navbar -->

        </div>
      </div>
    </div>

    


    {% block content %}







    {% endblock %}



    



  
      <!--   Core JS Files   -->
      {% include 'includes/scripts.html' %}
  
  
      {% block js %}

      {% endblock %}

      {% include 'base/provider/modals.html' %}


      
    </body>
    
</html>
  